<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>subtask form</title>
</head>
<body>
<header style="margin-left: 10%">
    <h1>New task</h1>
</header>
<main style="margin-left: 10%">
    <div th:switch="${task}">
        <h2 th:case="'Task not found'" style="color: red">Task not found</h2>

        <div th:case="*">
            <form action="*" th:action="@{/tasks/addSubTask/{id}(id=${taskId})}" th:object="${subtask}" method="post">
                <label for="name">name:</label><br>
                <input type="text" th:field="*{title}" id="name" name="name"><br>

                <label for="description">description:</label><br>
                <input type="text" th:field="*{desc}" id="description" name="description"><br>

                <label for="time">Due date:</label><br>
                <input type="datetime-local" th:field="*{deadline}" id="time"><br>

                    <input type="submit" value="Add" id="submit">
            </form>
        </div>
    </div>
</main>

</body>
</html>

