<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>new task form</title>
</head>
<body>
<header style="margin-left: 10%">
    <h1>New task</h1>
</header>
<main style="margin-left: 10%">
    <form action="*" th:action="@{/tasks/newTask}" th:object="${task}" method="post">
        <label for="name">name:</label><br>
        <input type="text" th:field="*{title}" id="name" name="name"><br>

        <label for="description">description:</label><br>
        <input type="text" th:field="*{desc}" id="description" name="description"><br>

        <label for="time">Due date:</label><br>
        <input type="datetime-local" th:field="*{deadline}" id="time"><br>

        <input type="submit" value="Submit">
    </form>
</main>

</body>
</html>
